.header .container{
    display: flex;
    justify-content: space-around;

}

.header__navigation ul{
    display: flex;
}
.header__navigation ul li{
    list-style: none;
    margin: 0 15px;
    padding: 0 15px;
}